@charset "utf-8";

:root {
  --main-font: "Noto Sans KR", sans-serif;
  --sub-font: "Noto Serif KR", serif;
  --main-color: #c27a34;
}

body{ overflow-x: hidden; line-height: 1.5; font-size: 1.6rem; font-family: var(--main-font); color: #000; }
.inner { max-width: 1640px; margin: 0 auto;  padding: 0 20px;}

/* header */
#header { transition: all 0.5s; position: absolute; z-index: 3; left: 0, top 0; width: 100%; border-bottom: 1px solid rgba(255, 255, 255, 0.5);  color: #fff;}
#header .inner{ max-width: 1740px; display: flex; justify-content: space-between; align-items: center; }

#header h1 img{display: block;}
#header nav{margin: 0 auto 0 50px;}

#header .gnb { display: flex;}
#header .gnb > li{position: relative;}
#header .gnb > li::before{ transition: all 0.5s; content: ""; display: block; width: 0; height: 4px; background: var(--main-color); position: absolute; left: 50%; transform: translateX(-50%); bottom: 0;}

#header .gnb > li:hover::before{width: 100%;}

#header .gnb > li > a { transition: all 0.5s; display: block ; padding: 30px 40px; font-family: var(--sub-font); font-size: 2rem;}

#header.active { background: #fff; }
#header.active h1 { filter: invert(100%);}
#header.active .gnb > li > a {color: #000;}
#header.active .util .ham { filter: invert(100%);}

/* header - gnb, depth2 */
#header .gnb > li .depth2 { z-index: 5; display: none; position: absolute; width: 500px;}
#header .gnb > li .depth2 li { display: inline-block;}
#header .gnb > li .depth2 li a { transition: all 0.5s; display: block; padding: 20px;  color: #000;}
#header .gnb > li .depth2 li a:hover { color: var(--main-color);} 

#header .util { display: flex; gap: 30px; align-items: center;}
#header .util .ham { font-size: 0; width: 35px; height: 20px; background: url("../images/common/ham.png"); cursor: pointer; }
#header .util .store { display: inline-block; padding: 10px 30px; border-radius: 30px; background: var(--main-color);}

#header .depth2_bg { display: none; position: absolute; left: 0; width: 100%; height: 60px; background: #fff; border-top: 1px solid rgba(0, 0, 0, 0.1);}

/* header - mgnb */
.mgnb_wrap { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/common/mgnb_bg.png") no-repeat center center / cover; color: #fff; }
.mgnb_wrap .mgnb { width: 60%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); border-bottom: 1px solid rgba(255, 255, 255, 0.1);}

.mgnb_wrap .mgnb > li { border-top: 1px solid rgba(255, 255, 255, 0.1); display: flex; flex-wrap: wrap; align-items: center; padding: 40px;  }

.mgnb_wrap .mgnb > li > a { display: block; width: 300px; font-size: 3rem; font-weight: 700; text-transform: uppercase;}

.mgnb_wrap .mgnb > li .mdepth2 { font-weight: 400; font-size: 2rem; opacity: 0.5; display: flex; gap: 50px;}

.mgnb_wrap .mgnb_close { width: 50px; height: 50px; font-size: 0; background: url("../images/common/icon_close_w.svg") no-repeat center center / 50%,#000; cursor: pointer; position: absolute; top: 0; right: 0; }

@media ( max-width : 1200px){
  #header { padding: 10px 0;}
  #header h1 img { width: 80%;}
  #header .gnb { display: none;}
  #header .util .store  {display: none;}

  .mgnb_wrap .mgnb{width: 80%;}
  .mgnb_wrap .mgnb > li { padding: 30px;}
  .mgnb_wrap .mgnb > li > a { width: 100%; font-size: 2.5rem;}
  .mgnb_wrap .mgnb > li .mdepth2 {font-size: 1.6rem; gap: 35px; padding-top: 10px;}
}

@media ( max-width : 768px){
  .mgnb_wrap .mgnb{width: 90%;}
  .mgnb_wrap .mgnb > li { padding: 20px;}
  .mgnb_wrap .mgnb > li > a { font-size: 2rem;}
  .mgnb_wrap .mgnb > li .mdepth2 {font-size: 1.4rem; gap: 20px; }
}


/* footer */
#footer{ padding: 100px 0; }
#footer .inner {  position: relative;}
#footer .footer_right { position: absolute; top: 0; right: 0; text-align: right;}
#footer .footer_right dl dt { font-weight: 700;}
#footer .footer_right dl dd {  font-size: 3rem; color: #c27a34; font-weight: 700; padding: 25px 0; font-family: var(--sub-font);}
#footer .footer_right .cs { color: #999;}


#footer .footer_img img:nth-child(1) { padding-right: 20px;}
#footer .address{padding: 30px 0; font-size: 1.4rem;}
#footer span { color: #999;}
#footer .copy { color: #999;}

@media (max-width : 1200px){
  #footer { padding: 50px 0; }
  #footer .footer_right {position: static; text-align: left;}
  #footer .footer_right dl dt{padding-top: 30px; }
  #footer .footer_right dl dd {padding: 15px 0;}
}

@media ( max-width : 768px){
  #footer .footer_right .cs {font-size: 1.4rem;}
  #footer .footer_right dl dt {font-size: 1.4rem;}
}